<?xml version="1.0"?>
<config>
  <version>1.0.0 Beta 1</version>
  <plugin>edu.ucsb.nceas.morpho.query.QueryPlugin</plugin>
  <plugin>edu.ucsb.nceas.morpho.datapackage.DataPackagePlugin</plugin>
  <plugin>edu.ucsb.nceas.morpho.editor.EditorPlugin</plugin>
  <metacat_url>http://dev.nceas.ucsb.edu/jones/servlet/metacat</metacat_url>
  <profile_directory>./profiles</profile_directory>
  <samples_directory>./lib/sampledata</samples_directory>
  <default_profile>./lib/default-profile.xml</default_profile>
  <local_dtd_directory>./lib/catalog</local_dtd_directory>
  <local_catalog_path>./lib/catalog/catalog</local_catalog_path>
  <debug_level>20</debug_level>
  <log_file>false</log_file>
  <triplesTag>//triple</triplesTag>
  <saxparser>org.apache.xerces.parsers.SAXParser</saxparser>
  <packageWizardConfig>./lib/frames/packagewizard.xml</packageWizardConfig>
  <tempDir>./tmp</tempDir>
  <packageEditor>
    
    <paths>
      <titlePath>/dataset/title</titlePath>
      <originatorPath>/dataset/originator/individualName/surName</originatorPath>
      <altTitlePath>/dataset/shortName</altTitlePath>
    </paths>
    <listdoctypes>
      <entitydoctype>-//NCEAS//eml-entity-2.0//EN</entitydoctype>
      <resourcedoctype>-//NCEAS//eml-dataset-2.0//EN</resourcedoctype>
      <attributedoctype>-//NCEAS//eml-variable//EN</attributedoctype>
    </listdoctypes>
  </packageEditor>
  <customFrames>
    <mainFrame>Resource</mainFrame>
    <frame>
      <frameName>Resource</frameName>
      <frameConfigFile>./lib/frames/resource.xml</frameConfigFile>
      <frameName>Entity</frameName>
      <frameConfigFile>./lib/frames/entity.xml</frameConfigFile>
    </frame>
  </customFrames>
  <newxmlfiletypes>
    <file>
      <name>Entity</name>
      <label>Table Description</label>
      <xmlfiletype>-//NCEAS//eml-entity-2.0//EN</xmlfiletype>
      <rootnode>table-entity</rootnode>
      <tooltip>Information about the data tables in data set.</tooltip>
      <relatedto>DATAFILE</relatedto>
      <displaypath>//entityName</displaypath>
      <editexisting>no</editexisting>
      <idpath>/table-entity/identifier</idpath>
    </file>
    <file>
      <name>Attribute</name>
      <label>Field Description</label>
      <xmlfiletype>-//NCEAS//eml-variable//EN</xmlfiletype>
      <rootnode>eml-variable</rootnode>
      <tooltip>Information about the fields (columns) in your data tables.</tooltip>
      <relatedto>-//NCEAS//eml-entity-2.0//EN</relatedto>
      <displaypath>//variable_name</displaypath>
      <editexisting>yes</editexisting>
      <visible>no</visible>
      <idpath>/eml-variable/meta_file_id</idpath>
    </file>
    <file>
      <name>Access</name>
      <label>Access Permissions</label>
      <xmlfiletype>-//NCEAS//eml-access-2.0//EN</xmlfiletype>
      <rootnode>acl</rootnode>
      <tooltip>Access control information for this data package.</tooltip>
      <displaypath>FIXED:Access Permisions</displaypath>
      <editexisting>yes</editexisting>
      <idpath>/acl/identifier</idpath>
    </file>
    <file>
      <name>Software</name>
      <label>Software Description</label>
      <xmlfiletype>-//NCEAS//eml-software-2.0//EN</xmlfiletype>
      <rootnode>software</rootnode>
      <tooltip>Description of any software created or used in the creation of this data package.</tooltip>
      <displaypath>//shortName</displaypath>
      <editexisting>no</editexisting>
      <idpath>/software/identifier</idpath>
    </file>
    <file>
      <name>Resource</name>
      <label>Package Head</label>
      <xmlfiletype>-//NCEAS//eml-dataset-2.0//EN</xmlfiletype>
      <rootnode>dataset</rootnode>
      <editexisting>no</editexisting>
      <idpath>/dataset/identifier</idpath>
      <visible>no</visible>
    </file>
    <file>
      <name>Distribution</name>
      <label>Distribution Information</label>
      <xmlfiletype>-//NCEAS//eml-distribution-2.0//EN</xmlfiletype>
      <rootnode>eml-distribution</rootnode>
      <tooltip>Description of how this data package can be distributed either electronically or otherwise.</tooltip>
      <displaypath>FIXED:Distribution Information</displaypath>
      <editexisting>no</editexisting>
      <idpath>/eml-distribution/identifier</idpath>
    </file>
    <file>
      <name>Physical</name>
      <label>Physical Object Description</label>
      <xmlfiletype>-//NCEAS//eml-physical-2.0//EN</xmlfiletype>
      <rootnode>eml-physical</rootnode>
      <tooltip>Description of the physical form of a data file.</tooltip>
      <displaypath>FIXED:Physical Information</displaypath>
      <editexisting>no</editexisting>
      <idpath>/eml-physical/identifier</idpath>
      <relatedto>-//NCEAS//eml-entity-2.0//EN</relatedto> 
    </file>
  </newxmlfiletypes>
  <current_profile></current_profile> 
</config>
